body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0f172a;
    color: white;
    padding: 20px;
}

h1{
    color: #38bdf8;
}

.logo{
    margin: 10px;
}

input{
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    text-align: center;
}

button{
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
}

button:hover{
    background: #0ea5e9;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,70px);
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#display{
    width: 290px;
    font-size: 22px;
}
