body {
    font-family: Arial;
    text-align: center;
}

#display {
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 10px;
}

button {
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
}

#clock {
    font-size: 18px;
    margin-bottom: 10px;
}

#history {
    list-style: none;
}
